@if (registrationSuccess()) {
  <app-registration-success
    [organizationName]="successOrganizationName()"
    (close)="backToHome()"
    (goDashboard)="goToDashboard()"
  />
} @else if (showPaymentStep()) {
  <app-payment-form
    [form]="paymentForm"
    [loading]="paymentLoading()"
    (submit)="onPaymentSubmit()"
    (close)="closePaymentModal()"
  />
} @else {
  <app-register-form
    #registerFormRef
    [form]="form"
    [loading]="loading()"
    [submitAttempted]="submitAttempted()"
    [errorMessage]="submitErrorMessage()"
    [planOptions]="planOptions"
    [paymentOptions]="paymentOptions"
    (submit)="onRegisterSubmit()"
    (closeRequested)="closeRequested.emit()"
  />
}
